.bus-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.business-listing-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    border-radius: 20px;
}

.bus-form-inputs {
    width: 90%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px rgb(200, 200, 200);
}

.bus-form-button {
    background-color: #f36746;
    width: 90%;
    padding: 15px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    border: solid 1px rgb(200, 200, 200);
    color: white;
    font-size: 16px;
}

.bus-form-errors {
    color: red;
}

.upload-picture {
    padding: 15px;
    margin: 20px;
    background-color: #f3664600;
    border: solid 1px #f36746;
    color: #f36746;
    border-radius: 5px;
}

.upload-picture:hover {
    cursor: pointer;
    background-color: #f36746;
    color: white;
}

.choose-file-input::-webkit-file-upload-button {
    display: none;
}
